##Data Structure Theory

1. What are data structures, and why are they important4

Ans:- Data structures are ways to organize and store data efficiently for easy access, retrieval, and manipulation. They are important because they allow for optimized solutions in programming, helping solve problems effectively with minimal time and space complexity.

2.  Explain the difference between mutable and immutable data types with examples?

Ans :-
- Mutable: Objects whose values can be changed after creation. Examples: lists, dictionaries, and sets.
       
-   Immutable: Objects whose values cannot be changed. Examples: strings, tuples, and integers.
Example:

In [5]:
- mutable_list = [1, 2, 3]
mutable_list[0] = 100  # Allowed
immutable_tuple = (1, 2, 3)
immutable_tuple[0] = 100  # Error: Immutable

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-5-a644d6aa8232>, line 1)

3. What are the main differences between lists and tuples in Python?

Ans :- **Differences Between Lists and Tuples in Python:**

- **Mutability**:
   - **Lists** are **mutable**, meaning their elements can be changed after creation (e.g., adding, removing, or modifying elements).
   - **Tuples** are **immutable**, meaning once they are created, their elements cannot be changed.

   Example:
   ```python
   lst = [1, 2, 3]
   lst[0] = 10  # Allowed, as lists are mutable
   print(lst)  # Output: [10, 2, 3]
   
   tup = (1, 2, 3)
   # tup[0] = 10  # This would raise an error because tuples are immutable
   ```

- **Syntax**:
   - **Lists** are defined using square brackets `[]`.
   - **Tuples** are defined using parentheses `()`.

   Example:
   ```python
   lst = [1, 2, 3]
   tup = (1, 2, 3)
   ```

- **Performance**:
   - **Tuples** are generally faster than **lists** for iteration and access because they are immutable, which allows for optimizations in memory and performance.
   - **Lists**, being mutable, incur more overhead for managing changes to their data.

- **Use Cases**:
   - **Lists** are suitable when you need to store collections of items that may change over time.
   - **Tuples** are ideal for fixed collections of data that should not be modified, ensuring data integrity.

- **Methods**:
   - **Lists** have more built-in methods (e.g., `append()`, `remove()`, `extend()`, etc.) due to their mutability.
   - **Tuples** have fewer methods, mostly limited to `count()` and `index()`, reflecting their immutable nature.

**In summary**, lists are mutable, defined with square brackets, and are used for collections that may change, while tuples are immutable, defined with parentheses, and are used for fixed, unchangeable collections.

4. Describe how dictionaries store data.

Ans :- Dictionaries in Python store data in key-value pairs using a hashing mechanism. Keys are hashed to determine their location in memory, ensuring quick lookups, insertions, and deletions. This hash table structure allows for average-case O(1) time complexity.

5. Why might you use a set instead of a list in Python?
Sets are useful when:

Ans :- Uniqueness of elements is required (sets don’t allow duplicates).
Fast membership checks are needed (in operation is O(1)).
Order doesn’t matter, as sets are unordered.

6. What is a string in Python, and how is it different from a list?
A string is a sequence of Unicode characters.

Ans :- Strings are immutable; their contents cannot be changed.
Lists are mutable, so elements can be modified.
Example:

In [6]:
string = "hello"
string[0] = "H"  # Error
list_data = ["h", "e", "l"]
list_data[0] = "H"  # Works

TypeError: 'str' object does not support item assignment

7. How do tuples ensure data integrity in Python?

Ans :- Tuples are immutable, meaning their values cannot be changed after creation. This ensures data integrity, as the data remains constant and cannot be accidentally modified.

8. What is a hash table, and how does it relate to dictionaries in Python?

Ans :- A hash table is a data structure that maps keys to values using a hashing function. Python dictionaries use a hash table internally to store key-value pairs for efficient lookups, insertions, and deletions.

9. Can lists contain different data types in Python?

Ans:- Yes, lists in Python can contain elements of any data type, including integers, strings, lists, tuples, and objects.

Example:

In [20]:
my_list = [1, "hello", [2, 3], (4, 5)]

10. Explain why strings are immutable in Python.
Strings are immutable to:

Ans :-

- Enhance security: Prevent unintended modifications.
- Optimize performance: Immutable objects can be reused in memory.
- Facilitate hashing: Strings can be used as dictionary keys because they are immutable.

11. What advantages do dictionaries offer over lists for certain tasks?

Ans :-
- Fast lookups: Dictionaries provide O(1) average time complexity for lookups, whereas lists have O(n).
- Key-value storage: Dictionaries allow for storing data in key-value pairs, which makes accessing values by keys very efficient.
- Unordered flexibility: You can retrieve or update values without concern for the order of insertion.

12. Describe a scenario where using a tuple would be preferable over a list.

Ans -
-  When immutability is required: Use a tuple to store data that must remain constant, such as geographic coordinates (latitude, longitude).
- As keys in dictionaries: Tuples can be used as dictionary keys because they are hashable, while lists cannot.

Example:

In [21]:
locations={(37.7749, -122.4194): "San Francisco"}

13. How do sets handle duplicate values in Python?

Ans - Sets automatically eliminate duplicate values. When an element is added to a set, Python checks if it already exists; if it does, it will not be added again.

Example:

In [13]:
my_set = {1, 2, 2, 3}
print(my_set)

{1, 2, 3}

14. How does the “in” keyword work differently for lists and dictionaries?

Ans:-
- In lists, in checks for the presence of a value, requiring O(n) time.
- In dictionaries, in checks for the presence of a key using a hash table, requiring O(1) time on average.

Example:

In [14]:
my_list = [1, 2, 3]
print(2 in my_list)  # Checks for a value.

my_dict = {"a": 1, "b": 2}
print("a" in my_dict)  # Checks for a key.

True
True

15. Can you modify the elements of a tuple? Explain why or why not.

Ans - No, tuples are immutable. Once a tuple is created, its elements cannot be changed, added, or removed. This immutability ensures data integrity and allows tuples to be hashable.

Example:

In [15]:
my_tuple = (1, 2, 3)
my_tuple[0] = 10  # Error: Tuples are immutable.

TypeError: 'tuple' object does not support item assignment

16. What is a nested dictionary, and give an example of its use case?

Ans :- A nested dictionary is a dictionary that contains other dictionaries as values.

-- Use case: Representing hierarchical or structured data like student grades, where each student has a dictionary of subjects and scores.

Example:

In [17]:
students = {
    "John": {"Math": 90, "Science": 85},
    "Jane": {"Math": 95, "Science": 80}}

17. Describe the time complexity of accessing elements in a dictionary.

Ans :- Accessing elements in a dictionary has an average-case time complexity of O(1) because dictionaries use a hash table. However, in rare cases of hash collisions, the worst-case time complexity can be O(n).

18. In what situations are lists preferred over dictionaries?
Ans :-
- When order matters: Lists maintain the order of insertion.
- When data does not require key-value pairs.
- For sequential data, such as numbers or strings.
- When memory efficiency is a priority: Lists are simpler and use less memory.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans :-
- Prior to Python 3.7, dictionaries were unordered, meaning the order of elements was not guaranteed. Since Python 3.7, dictionaries preserve insertion order.

- Effect on retrieval: When unordered, you cannot rely on the sequence of elements, so retrieval is based solely on keys.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

Ans :-
- Lists: Retrieval is done using indices (positions), requiring O(n) time for searching.
- Dictionaries: Retrieval is done using keys, providing O(1) average time complexity due to hashing.

Example:

In [18]:
# List retrieval
my_list = [10, 20, 30]
print(my_list[1])  # Access via index.

# Dictionary retrieval
my_dict = {"a": 10, "b": 20}
print(my_dict["b"])  # Access via key.

20
20

## Practical Questions

1. Write a code to create a string with your name and print it.

Ans-

In [22]:
name = "Adarsh"
print(name)

Adarsh

2. Write a code to find the length of the string "Hello World".

Ans-

In [23]:
string = "Hello World"
print(len(string))

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

Ans -

In [24]:
string = "Python Programming"
print(string[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.


Ans-

In [25]:
string = "hello"
print(string.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

Ans -

In [26]:
string = "I like apple"
new_string = string.replace("apple", "orange")
print(new_string)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

Ans -

In [27]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

Ans -

In [28]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

Ans -

In [29]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

Ans -

In [31]:
my_list = ['a', 'b', 'c', 'd']
print(my_list[1])  # Indexing starts at 0

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

Ans -

In [32]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

Ans -

In [33]:
t = (10, 20, 30)
print(t)

(10, 20, 30)

12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

Ans -

In [34]:
t = ('apple', 'banana', 'cherry')
print(t[0])

apple

13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

Ans -

In [35]:
t = (1, 2, 3, 2, 4, 2)
count = t.count(2)
print(count)

3

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

Ans -

In [36]:
t = ('dog', 'cat', 'rabbit')
index = t.index('cat')
print(index)

1

15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

Ans -

In [37]:
t = ('apple', 'orange', 'banana')
is_present = 'banana' in t
print(is_present)

True

16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

Ans -

In [38]:
s = {1, 2, 3, 4, 5}
print(s)

{1, 2, 3, 4, 5}

17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

Ans-

In [39]:
s = {1, 2, 3, 4}
s.add(6)
print(s)

{1, 2, 3, 4, 6}

18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

Ans -

In [40]:
t = (10, 20, 30)
print(t)

(10, 20, 30)

19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

Ans -

In [41]:
t = ('apple', 'banana', 'cherry')
print(t[0])

apple

20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

Ans -

In [42]:
t = (1, 2, 3, 2, 4, 2)
count = t.count(2)
print(count)

3

21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

Ans -

In [43]:
t = ('dog', 'cat', 'rabbit')
index = t.index('cat')
print(index)

1

22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

Ans -

In [44]:
t = ('apple', 'orange', 'banana')
is_present = 'banana' in t
print(is_present)

True

23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

Ans -

In [45]:
s = {1, 2, 3, 4, 5}
print(s)

{1, 2, 3, 4, 5}

24. Write a code to add the element 6 to the set {1, 2, 3, 4}.

Ans -

In [46]:
s = {1, 2, 3, 4}
s.add(6)
print(s)

{1, 2, 3, 4, 6}